.divcss {
    background-color: blue ;
    font-size: 1em ;
    font-style: normal;
     width: 60% ;
     align-content: left;     
    }
    
    .textcolor {
     font-size: 2em ;
     font-style: italic;
     color:brown;
    }